In [1]:
# Multiplication Table using for loop

number = int(input("Enter a number: "))

print(f"\nMultiplication Table of {number}:\n")

for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number:  2

Multiplication Table of 2:

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [2]:
# Sum of even numbers from 1 to 50

total = 0

print("Even numbers from 1 to 50:")

for i in range(1, 51):
    if i % 2 == 0:
        print(i, end=' ')
        total += i

print(f"\n\nSum of even numbers: {total}")

Even numbers from 1 to 50:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

Sum of even numbers: 650

In [3]:
# Star pattern using for loop

rows = int(input("Enter number of rows: "))

print("\nRight-angled Triangle Pattern:\n")

for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

Enter number of rows:  3

Right-angled Triangle Pattern:

*
* *
* * *

In [4]:
# Count vowels in a string using for loop

text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print(f"Total number of vowels: {count}")

Enter a string:  My name is Shahnoor

Total number of vowels: 6