# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("bilal",12,1.2,True)

bilal 12 1.2 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("bilal-8-4.5-False")

bilal-8-4.5-False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print("ahmed",end=" ")
print(10,end=" ")
print(9.9,end=" ")
print(True)

ahmed 10 9.9 True

4) Can a python print function take no value to print???

In [9]:
print()
#Yes it can

In [ ]:
# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [10]:
Name="Mr.Ahmed"
Age=30
Profession="Lawyer"
PassoutYear=2005
Firm="The Himalya Associates"
Since=2015
Height=5.10
Weight="70600g"
MonthlyIncome="200K PKR"

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [11]:
CurrentYear=2025
CurrentYear-PassoutYear

20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
CurrentYear=2025
CurrentYear-Since

10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [15]:
IncomeInDollars=200000/283.75
IncomeInDollars

704.8458149779735

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [16]:
IncomeInDollars=200000/283.75
int(IncomeInDollars)

704

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [23]:
print(type(Weight))
int(70600/1000)

<class 'str'>

70

11) print the year of birth of Mr. Ahmed.

In [19]:
CurrentYear=2025
CurrentYear-Age

1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [3]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [20]:
print(100%6)
#No it cannot be, 4.Rs will remain.

4